body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.points{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.newGame {
    display: flex;
    justify-content: space-around;
}



.scorePlaceholder{

    width: 200px;
    height: 100px;
    background-color: black;
    color: #f94f6d;

}